@media screen and (min-width: 600px){

    // DESCRIPCION
    .descripcion{
        padding-top: 4em;
        padding-bottom: 3em;
        width: 80%;
        margin: auto;
    }

    // MAIN
    .proyecto{
        width: 18em;
        margin: 1em 1.5em 0 1.5em;
    }
    .proyecto-container{
        overflow: hidden;
        justify-content: center;
    }
}
@media screen and (min-width: 1400px){
    :root{
        font-size: 20px;
    }
}
@media screen and (min-width: 2000px){
    :root{
        font-size: 40px;
    }
}